body {
  font-family: Arial;
  background: linear-gradient(180deg, #ffe4ec, #ffd1dc);
  text-align: center;
  margin: 0;
}

.card {
  background: #fff0f5;
  margin: 25px auto;
  padding: 25px;
  border-radius: 18px;
  width: 85%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h1 {
  color: #c2185b;
}

h2 {
  color: #ad1457;
}

img {
  max-width: 400px;
  border-radius: 12px;
  border: 4px solid #f8bbd0;
}

button {
  padding: 12px 24px;
  background: #ec407a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background: #d81b60;
}